.button {
  display: inline-block;
  width: 100%;
  max-width: 256px;
  padding: 12px 8px;
  overflow: hidden;
  font-family: "Open sans", 'Roboto slab', 'arial', 'sans-serif';
  font-size: 2.5rem;
  color: #eee;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  background-color: #666;
  border: 1px solid #666;
  border-radius: 4px;

  &:hover {
    color: #eee;
    background-color: #333;
  }

  &--inverted {
    color: #666;
    background-color: #eee;
  }

  &--inverted:hover {
    color: #333;
    background-color: #ccc;
  }

  &--disabled,
  &--disabled:hover {
    color: #999;
    background-color: #eee;
    border-color: #eee;
  }
}
