.card {
  display: inline-block;
  width: 100%;
  min-width: 200px;
  max-width: 800px;
  overflow: hidden;
  border-radius: 3px;
}

.card__heading {
  width: 100%;
  margin-bottom: 15px;
  font-family: Merriweather, georgia, serif;
  font-size: 1.5rem;
}

.card__content {
  padding: 15px;
  flex-direction: column;
  align-items: center;
}

.card__text {
  margin-bottom: 30px;
}

.card__img {
  width: 100%;
  min-width: 200px;
  max-width: 100%;
}
