.cardlist {
  display: flex;
  text-align: center;
  flex-direction: row;

  &__row {
    display: inherit;
    flex-direction: row;
  }

  &__column {
    display: inherit;
    flex-direction: column;
  }
}
