footer {
  display: flex;
  padding: 2em;
  color: white;
  flex-direction: column;
  background-color: #353331;
 
  .Info {
    display: flex;
    padding-bottom: 4em;
    margin-bottom: 2em;
    border-bottom: solid;
    border-bottom-color: gainsboro;
    text-align: center;
  }

  .uppl {
    min-width: 50%;
    margin: auto;
  }

  .Disclaimer {
    font-family: none;
    text-align: center;
  }
}
