header {
  width: 100%;
  text-align: center;
  background-image: url("/gogn/bg.jpg");
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;

  .about & {
    background-image: url("/gogn/bg-subpage.jpg");
  }

  .index & {
    background-image: url("/gogn/bg.jpg");
  }

  .page & {
    background-image: url("/gogn/bg-subpage.jpg");
  }
}
