header {
  display: flex;
  width: 100%;
  min-height: 500px;
  margin: auto;
  align-items: center;
  background: transparent url("/gogn/bg.jpg") no-repeat fixed 50% 50%;
  background-size: cover;

  .about & {
    background-image: url("/gogn/bg-subpage.jpg");
  }

  .index & {
    background-image: url("/gogn/bg.jpg");
  }

  .page & {
    background-image: url("/gogn/bg-subpage.jpg");
  }

  .forsida {
    justify-content: center;
    margin: inherit;
    text-align: center;

    h1 {
      margin-bottom: 1em;
      font-size: 4em;
      animation: header_forsida 2s;
    }

    h3 {
      margin-bottom: 1em;
      font-size: 2em;
      animation: header_forsida 1s;
    }
  }
}

@keyframes header_forsida {
  0% {
    color: transparent; 
    }
  100% {
    color: black;
  }
}

.menubarTop {
  position: fixed;
  top: 0;
  width: 100%;
  padding-right: 75px;
  overflow: hidden;
  background-color: rgba(black, 0.7);
}

.menubarTop a {
  display: block;
  float: right;
  padding: 14px 16px;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}

.menubarTop h1 {
  display: block;
  float: left;
  padding: 14px 16px;
  font-size: 16px;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}
