$max-width: 1200px;
$gutter: 20px;

* {
  padding: 0;
  margin: 0;
}

main {
  max-width: $max-width;
  margin-right: $gutter;
  margin-left: $gutter;
}

html {

  font-family: "Roboto Slab", serif;

}

footer {
  background-color: gray;
}

@import "scss/button.scss";
@import "scss/card.scss";
@import "scss/cardlist.scss";
@import "scss/grid.scss";
@import "scss/heading.scss";
@import "scss/header.scss";
